{% extends "superadmin_base.html" %}
{% comment %} users

email
mobile
plateno
name {% endcomment %}


{% block userDetail %}
<div class="container">
    <div class="h2">
        <p class="text-center pane-title text-bg-light2">User Details</p>
    </div>
    <table id="userDetailstable" class="table table-hover">
        <thead>
            <tr>
                <th>Srno</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Num</th>
                <th>Plate Num</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ram</td>
                <td>abc@gmail.com</td>
                <td>0000000000</td>
                <td>fasdo34p3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Sham</td>
                <td>axyz@gmail.com</td>
                <td>1234567890</td>
                <td>qwet53</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Om</td>
                <td>abc@outlook.com</td>
                <td>9876543210</td>
                <td>RE##432</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Hari</td>
                <td>aesfbc@gmfeail.com</td>
                <td>0022000000</td>
                <td>faoi4w3</td>
            </tr>
            <tr>
                <td>5</td>
                <td>radha</td>
                <td>xyz@yahoo.com</td>
                <td>2222222263</td>
                <td>lonwd32</td>
            </tr>
        </tbody>
    </table>
  
{% endblock userDetail %}