<div class="col-md-3 card-container">
    <div class="card mt-sm-0 mt-md-2">
      <h5 class="card-header bg-medium border-0">
        Total memos
      </h5>
      <div class="card-body">
        <p class="card-text display-2">
          432
        </p>
      </div>
    </div>
    <div class="card mt-sm-0 mt-md-2">
      <h5 class="card-header bg-medium border-0">
        Amount Received
      </h5>
      <div class="card-body">
        <p class="card-text display-2">
          5646
        </p>
      </div>
    </div>
    <div class="card mt-sm-0 mt-md-2">
      <h5 class="card-header bg-medium border-0">
        Pending Approves
      </h5>
      <div class="card-body">
        <p class="card-text display-2">
          53
        </p>
      </div>
    </div>
  </div>