{% extends "superadmin_base.html" %}

{% block memoView %}

<div class="container">
    <div class="h2">
        <p class="text-center pane-title text-bg-light2">Recent memo</p>
    </div>
    <div class="filter-container">
        <label>Roadways:</label>
        <select id="roadwayFilter">
          <option value="" {% if roadway_filter == '' %}selected{% endif %}>All</option>
          <option value="Road 1" {% if roadway_filter == 'Road 1' %}selected{% endif %}>Road 1</option>
          <option value="Road 2" {% if roadway_filter == 'Road 2' %}selected{% endif %}>Road 2</option>
          <option value="Road 3" {% if roadway_filter == 'Road 3' %}selected{% endif %}>Road 3</option>
        </select>
      
        <label>Type of Vehicle:</label>
        <select id="vehicleTypeFilter">
          <option value="" {% if vehicle_type_filter == '' %}selected{% endif %}>All</option>
          <option value="Car" {% if vehicle_type_filter == 'Car' %}selected{% endif %}>Car</option>
          <option value="Truck" {% if vehicle_type_filter == 'Truck' %}selected{% endif %}>Truck</option>
          <option value="Motorcycle" {% if vehicle_type_filter == 'Motorcycle' %}selected{% endif %}>Motorcycle</option>
        </select>
      
        <label>Name Plate:</label>
        <input type="text" id="namePlateFilter">
      </div>
    {% include "table.html" %}
  </div>
{% endblock memoView %}