<div class="side-bar" id="sideBarContainer">
    <div class="menu">
      <div class="item">
        <a class="sub-btn">
          <i class="fa-solid fa-filter"></i>
          Filter
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="/super-admin/memo/" class="sub-item"> Filter by state </a>
          <a href="#" class="sub-item"> Filter by City </a>
          <a href="#" class="sub-item"> Filter by road </a>
          <a href="#" class="sub-item"> Filter by Admin </a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn">
          <i class="fa-solid fa-user-tie"></i>
          Admin
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="#" class="sub-item"> Delete Staff </a>
          <a href="#" class="sub-item"> Add Staff </a>
          <a href="#" class="sub-item"> Staff </a>
        </div>
      </div>
      <div class="item">
        <a href="/super-admin/password-change/">
          <i class="fa-solid fa-bell"></i>
          Request Pasword change
        </a>
      </div>
      <div class="item">
        <a class="sub-btn">
          <i class="fa-solid fa-circle-info"></i>
          Details
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="/super-admin/user-details" class="sub-item"> User details </a>
          <a href="#" class="sub-item"> Vehical details </a>
        </div>
      </div>
      <div class="item">
        <a class="sub-btn">
          <i class="fa-solid fa-user"></i>
          Profile
          <i class="fas fa-angle-right dropdown"></i>
        </a>
        <div class="sub-menu">
          <a href="#" class="sub-item"> Account </a>
          <a href="#" class="sub-item"> Log Out </a>
        </div>
      </div>
    </div>
  </div>