<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body class="bg-light1">
  <div class="container-fluid">
    <div class="row">
      
      {% include "sidebar.html" %}  
      <div class="col-12 main-section" id="mainContent">
        <!-- Main Section -->
        <div class="row">
          <div class="col-12 main-title">
            <div class="branding text-dark">
              <img src="/static/images/logo.png" alt="Logo" />
              Road Traffic Management
            </div>
            <nav class="navbar">
              <div class="container-fluid">
                <div class="navbar-header">
                  <div class="menu-btn ml-auto">
                    <i class="fas fa-bars"></i>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-12">
            {% block dashboard %}{% endblock dashboard %}
            {% block pswdChange %}{% endblock pswdChange %}
            {% block memoView %}{% endblock memoView %}
            {% block userDetail %}{% endblock userDetail %}
            {% block staffDetail %}{% endblock staffDetail %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>